@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Jost", sans-serif;
}
header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 5%;
}
.ibf{
    opacity: 0;
    
}

.btn{
    background-color: #79aceb9f;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.3s;
    
}
.btn.animate-btn{
    animation: animate-outline 3s ease-out infinite;
}
.btn:hover{
    background-color: #2a80e9ad ;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;

}
nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    color: white;
    font-size: 14px;
    margin: 0 25px;
    text-transform: uppercase;
    display: block;
}
nav ul a:not(.btn):after{
    content: "" ;
    background-color: #30d0f8;
    height: 3px;
    width: 0%;
    display: block;
    margin: auto;
    transition: 0.3s;
}
nav ul a:hover::after{
    width: 100%;

}
/*--my mobile menu--*/
nav .menu-icon{
    cursor: pointer;
    font-size: 25px;
    color: white;
    display: none;
}
nav .close-icon{
    display: none;
    font-size: 30px;
    color: white;
   
}
/*--end mobile menu--*/

/*banner*/
.banner{
    display: flex;
    justify-content: center;
}
.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;

}
.banner .banner-text h1{
    font-size: 200px;
    color: #ffffff;
    text-shadow: 0 0 8px #1e058d; /* add this line */
}.banner .banner-text p{
    font-size: 30px;
    color: #30d0f8;
    margin: 18px 0;
    font-weight: 500;
    text-decoration:none;
}
.banner .banner-text h2{
    font-size: 60px;
    color: #ffffff;
    text-shadow: 0 0 8px #1e058d; /* add this line */
}
/*End Baneer*/

/*titulo-prod*/
.titulo-prod{
    background-color: rgb(235, 233, 233);
    display: flex;
    justify-content: center;
}
.titulo-prod .titulo-text h2{
    font-size: 70px;
    color: rgb(70, 70, 70);
    text-shadow: 0 0 3px #30d0f8;
    padding: 30px 0 15px 0;

}
.titulo-prod .titulo-text p{
    font-size: 30px;
    color: rgb(70, 70, 70);
    text-shadow: 0 0 3px #30d0f8;
    text-align: center;
    
}
/*End titulo-prod*/

/*Produtos*/
.produtos{
    justify-content: center;
    display: flex;
    background-color:  rgb(235, 233, 233);
}

.produtos .produtos-img {
    border-radius: 14px;
    background-color: #30d0f8;
    justify-content: center;
    display: flex;
}
.produtos .produtos-img a{
    
    padding: 20px 100px 20px 20px;
    border-image: 50px;
}
.produtos .h2-prod {
    text-align: center;
    font-size: 30px;
    padding: 25px 0 0 10px;
}
/*--Footer--*/
.Footer{
    background-color: #30d0f8;
    padding: 100px;
    text-align: center;
}
.Footer i{
    color: #30d0f8;
    font-size: 25px;
    background-color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 10px ;
}
.Footer .text p{
    margin-top: 10px;
    color: white;
}